@font-face {
  font-family: Nordica;
  src: url("NordicaHairline.otf") format("opentype");
}
html {
  background-color: rgb(7, 1, 31);
  background: linear-gradient(180deg, rgb(7, 1, 31) 0%, rgb(19, 1, 48) 100%);
  font-family: Nordica, Calibri, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: inherit;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  height: 60px;
}
header h1 {
  text-align: center;
  font-weight: 100;
  color: white;
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  margin-top: 10px;
  text-shadow: 0 0 5px rgb(225, 255, 225);
}

main {
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

h1, h2 {
  text-align: center;
  font-weight: lighter;
  color: white;
}

.menuTileWrapper {
  position: relative;
  display: flex;
  margin: auto;
  color: white;
  width: 70%;
  min-width: 280px;
  flex-wrap: wrap;
  max-width: 750px;
  margin-top: 20px;
  animation: fadeIn;
  animation-duration: 1s;
}
.menuTileWrapper .menuTileContainer {
  margin: auto;
  flex-basis: 50%;
  min-width: 280px;
  animation: tileSpin;
  animation-duration: var(--animSpeed);
  animation-delay: var(--animOffset);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer {
  transition: all ease-out 0.3s;
  transform: scale(1);
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer .tile {
  position: relative;
  background-color: rgba(225, 255, 225, 0.4);
  background: radial-gradient(circle, rgba(225, 255, 225, 0.1) 0%, rgba(177, 224, 177, 0.3) 100%);
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 20px -5px white;
  height: 340px;
  width: 280px;
  margin: 20px auto;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  animation: tileTilt;
  animation-duration: var(--animSpeed);
  animation-delay: var(--animOffset);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer .tile span {
  font-size: 2.6em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer .tile img {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer .tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  border-radius: 60px;
  overflow: hidden;
  height: 340px;
  width: 280px;
  z-index: -1;
  animation: tileTiltAfter;
  animation-duration: var(--animSpeed);
  animation-delay: var(--animOffset);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer .tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
  border-radius: 50px;
  overflow: hidden;
  height: 340px;
  width: 280px;
  z-index: -1;
  animation: tileTiltBefore;
  animation-duration: var(--animSpeed);
  animation-delay: var(--animOffset);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer:hover {
  transition: all ease-out 0.2s;
  transform: scale(1.1);
}
.menuTileWrapper .menuTileContainer .menuTileSubContainer:hover .tile {
  background-color: rgba(246, 223, 255, 0.7);
  box-shadow: 0 0 30px 0 rgb(242, 223, 255);
}
.menuTileWrapper .menuTileContainer .flyOut {
  animation: tileFlyOut;
  animation-duration: 0.7s;
  animation-delay: var(--animOffset);
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes tileSpin {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@keyframes tileTilt {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes tileTiltBefore {
  0% {
    transform: rotate(-3deg) scale(0.95) translateX(5px);
  }
  50% {
    transform: rotate(3deg) scale(0.95) translateX(-5px);
  }
  100% {
    transform: rotate(-3deg) scale(0.95) translateX(5px);
  }
}
@keyframes tileTiltAfter {
  0% {
    transform: rotate(4deg) scale(0.9) translateY(5px);
  }
  50% {
    transform: rotate(-4deg) scale(0.9) translateY(-5px);
  }
  100% {
    transform: rotate(4deg) scale(0.9) translateY(5px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tileFlyOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
.contentWrapper {
  position: relative;
  margin: auto;
  color: white;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 40px;
  animation: fadeIn;
  animation-duration: 1s;
}
.contentWrapper .contentContainer {
  position: relative;
  background-color: rgba(225, 255, 225, 0.4);
  background: radial-gradient(circle, rgba(225, 255, 225, 0.1) 0%, rgba(177, 224, 177, 0.3) 100%);
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 20px -5px white;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.contentWrapper .contentContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: contentTiltAfter;
  animation-duration: 14.5s;
  animation-delay: -10.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
}
.contentWrapper .contentContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: contentTiltBefore;
  animation-duration: 10.2s;
  animation-delay: -0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
}
.contentWrapper .contentContainer .backBtn {
  border-radius: 20px;
  border: 1px solid white;
  position: absolute;
  padding: 10px 20px;
  top: -20px;
  left: 30px;
  background: radial-gradient(circle, rgba(246, 225, 255, 0.5) 0%, rgba(218, 177, 224, 0.8) 100%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-size: 1.1em;
  animation: contentTiltBeforeS;
  animation-duration: 12.2s;
  animation-delay: -9.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contentWrapper .contentContainer .backBtn:hover {
  box-shadow: 0 0 30px 0 rgb(242, 223, 255);
}
.contentWrapper .contentContainer .backBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: contentTiltAfterS;
  animation-duration: 14.5s;
  animation-delay: -6.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
}
.contentWrapper .contentContainer .backBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: contentTiltBeforeS;
  animation-duration: 10.2s;
  animation-delay: -4.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
}

@keyframes contentTiltBefore {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@keyframes contentTiltAfter {
  from {
    transform: rotate(0deg) translateX(-5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-5px) rotate(-360deg);
  }
}
@keyframes contentTiltBeforeS {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}
@keyframes contentTiltAfterS {
  from {
    transform: rotate(0deg) translateX(-2px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-2px) rotate(-360deg);
  }
}
@keyframes boxFlyIn {
  from {
    transform: scale(1.3) rotate(-10deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
.characterBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.characterBoxContainer .characterBox {
  position: relative;
  width: 150px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid white;
  margin: 15px 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  padding-top: 10px;
  overflow: hidden;
  cursor: pointer;
  animation: boxFlyIn;
  animation-duration: 0.3s;
  animation-delay: var(--fdelay);
  animation-fill-mode: backwards;
}
.characterBoxContainer .characterBox:first-of-type {
  font-size: 10em;
  line-height: 190px;
}
.characterBoxContainer .characterBox::before, .characterBoxContainer .characterBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.characterBoxContainer .characterBox:hover {
  background-color: rgba(246, 223, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
  transform: scale(1.1) rotate(-5deg);
  transition: all 0.2s ease-in-out;
}
.characterBoxContainer .characterBox:hover::before {
  opacity: 1;
  transform: scale(0.8) rotate(-1deg);
  transition: all 0.5s ease-in-out;
}
.characterBoxContainer .characterBox:hover::after {
  opacity: 1;
  transform: scale(0.6) rotate(-2deg);
  transition: all 0.5s ease-in-out;
}
.characterBoxContainer .characterBox .imgContainer {
  width: 130px;
  height: 130px;
  border-radius: 25px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.characterBoxContainer .characterBox .imgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.characterBoxContainer .characterBox span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.characterBoxContainer .characterBox .name {
  margin-top: 10px;
}
.characterBoxContainer .characterBox .species {
  font-size: 0.8em;
  margin-top: 3px;
  color: gray;
}

.flyOut {
  animation: flyOut;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes flyOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.characterInfo h1 {
  font-weight: lighter;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0;
}
.characterInfo h2 {
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
}
.characterInfo h2.species {
  margin-top: 4px;
  color: gray;
}
.characterInfo .mainImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.characterInfo .mainImgContainer .mainImg {
  border-radius: 30px;
  margin-left: 80px;
  border: 1px solid white;
  overflow: hidden;
  max-height: 450px;
  max-width: 350px;
}
.characterInfo .mainImgContainer .mainImg:only-child {
  margin-left: 0;
}
.characterInfo .mainImgContainer .mainImg img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.characterInfo .mainImgContainer .operationsContainer {
  display: flex;
  flex-direction: column;
  width: 80px;
}
.characterInfo #imgDescription {
  text-align: center;
  display: block;
  margin: 10px 0;
  font-size: 1.1em;
}
.characterInfo .imgCarousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.characterInfo .imgCarousel .carouselItem {
  border-radius: 10px;
  margin: 5px;
  border: 1px solid white;
  overflow: hidden;
  height: 100px;
  width: 80px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.characterInfo .imgCarousel .carouselItem img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.characterInfo .imgCarousel .carouselItem:hover {
  background-color: rgba(246, 223, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
  transform: scale(1.1) rotate(-5deg);
}
.characterInfo .imgCarousel .addImage {
  font-size: 7em;
}
.characterInfo .familyTreeView {
  width: 100%;
  position: relative;
}
.characterInfo .familyTreeView canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.characterInfo .familyTreeView .layerContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
.characterInfo .familyTreeView .layerContainer .treeLayer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode {
  position: relative;
  width: 100px;
  height: 120px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 30px 20px;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode .nodeImg {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  border-radius: 20px;
  box-sizing: border-box;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode .nodeImg img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode span {
  text-align: center;
  padding-top: 5px;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode svg.branch {
  position: absolute;
  width: 800px;
  height: 200px;
  left: -350px;
  top: -40px;
  z-index: -1;
  transition: all 0.2s ease;
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode:hover {
  background-color: rgba(246, 223, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
}
.characterInfo .familyTreeView .layerContainer .treeLayer .treeNode:hover svg.branch {
  z-index: -100;
}
.characterInfo .noteContainer {
  max-width: 800px;
  margin: auto;
}
.characterInfo .noteContainer .newPostContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.characterInfo .noteContainer .newPostContainer textarea {
  resize: none;
  width: 100%;
  border-radius: 20px;
}
.characterInfo .noteContainer .newPostContainer input[type=submit] {
  height: 100px;
  width: 80px;
  border-radius: 20px;
}
.characterInfo .noteContainer .note {
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px;
  position: relative;
}
.characterInfo .noteContainer .note span {
  position: absolute;
  top: 6px;
  left: 20px;
  color: gray;
  font-size: 0.9em;
}
.characterInfo .noteContainer .note p {
  margin: 0;
  padding: 25px 12px 8px;
}

.personalSection,
.relationsSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.personalSection input[type=text],
.personalSection input[type=date],
.personalSection select,
.relationsSection input[type=text],
.relationsSection input[type=date],
.relationsSection select {
  width: 240px;
  box-sizing: border-box;
}
.personalSection span,
.relationsSection span {
  width: 100px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.personalSection table tr td,
.relationsSection table tr td {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.addCharacterSubmitBtn {
  margin: 20px auto !important;
  display: block;
}

details.parentalRelations summary {
  text-align: center;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 1.1em;
  margin: 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
}
details.parentalRelations summary::after {
  content: "(click to expand)";
  transition: all 0.5s ease;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
  color: gray;
  margin-left: 10px;
}
details.parentalRelations summary:hover {
  text-shadow: 0 0 10px rgb(242, 223, 255);
}
details.parentalRelations[open] summary::after {
  content: "(click to expand)";
  opacity: 0;
  margin-left: -124px;
}

.ageList {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
}
.ageList .tab {
  height: 70px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid white;
  overflow: hidden;
  margin: 10px 0;
  box-sizing: border-box;
  display: flex;
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.ageList .tab .imgContainer {
  border-radius: 15px;
  border: 1px solid white;
  width: 50px;
  height: 60px;
  overflow: hidden;
  flex: 0 0 50px;
}
.ageList .tab .imgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ageList .tab .textContainer {
  padding-left: 10px;
}
.ageList .tab .textContainer span {
  display: block;
}
.ageList .tab .textContainer .main {
  font-size: 1.2em;
}
.ageList .tab .textContainer .sub {
  color: lightgray;
  font-size: 0.9em;
}
.ageList .tab .ageBox {
  padding-right: 10px;
  padding-top: 10px;
  font-size: 3em;
}
.ageList .tab:hover {
  background-color: rgba(246, 223, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modalWrapper .modalBlur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 0, 27, 0.6);
}
.modalWrapper .modal {
  position: fixed;
  background-color: rgba(225, 255, 225, 0.4);
  background: radial-gradient(circle, rgba(225, 255, 225, 0.1) 0%, rgba(177, 224, 177, 0.3) 100%);
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 0 0 20px -5px white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalWrapper .modal .modalContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.modalWrapper .modal .modalContent span {
  color: white;
}
.modalWrapper .modal .modalContent button {
  width: 100%;
}
.modalWrapper .modal .modalContent textarea {
  width: 250px;
  height: 100px;
  overflow: hidden;
  border-radius: 20px;
  resize: none;
}

.modClose {
  animation: modalFadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 1;
}

.modOpen {
  animation: modalFadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

.modContentFadeOut {
  animation: modalContentFadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 1;
}

.modContentFadeIn {
  animation: modalContentFadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  100% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}
@keyframes modalFadeIn {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imgBlur {
  filter: blur(20px);
}

.permaImgBlur {
  filter: blur(20px);
}

.imgGallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgGallery .galleryItem {
  border-radius: 20px;
  border: 1px solid white;
  width: 200px;
  overflow: hidden;
  height: 300px;
  margin: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.imgGallery .galleryItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgGallery .galleryItem:hover {
  background-color: rgba(246, 223, 255, 0.5);
  box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
  transform: scale(1.1) rotate(-5deg);
}/*# sourceMappingURL=layout.css.map */