@font-face {
    font-family: Nordica;
    src: url("NordicaHairline.otf") format("opentype");
}

html{
    background-color: rgb(7, 1, 31);
    background: linear-gradient(180deg, rgb(7, 1, 31) 0%, rgb(19, 1, 48) 100%);
    font-family: Nordica, Calibri, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: inherit;
    height: 100%;
    
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    height: 60px;
    h1{
        text-align: center;
        font-weight: 100;
        color:white;
        font-size: 3em;
        user-select: none;
        margin: 0;
        margin-top: 10px;
        text-shadow: 0 0 5px rgba(225,255,225,1);
    }
}

main{
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

h1, h2{
    text-align: center;
    font-weight: lighter;
    color:white;
}


$tileWidth: 280px;
$tileHeight: 340px;
$tileSpacing: 20px;
.menuTileWrapper{
    position: relative;
    display: flex;
    margin: auto;
    color: white;
    width: 70%;
    min-width: $tileWidth;
    flex-wrap: wrap;
    max-width: 750px;
    margin-top: 20px;
    animation: fadeIn;
    animation-duration: 1s;
    

    .menuTileContainer{
        margin: auto;
        flex-basis: 50%;
        min-width: $tileWidth;

        animation: tileSpin;
        animation-duration: var(--animSpeed);
        animation-delay: var(--animOffset);
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        .menuTileSubContainer{  // needed for extra transforms on hover without interupting main animation
            .tile{
                position: relative;
                background-color: rgba(225,255,225,0.4);
                background: radial-gradient(circle, rgba(225,255,225,0.1) 0%, rgba(177,224,177,0.3) 100%);
                border: 1px solid white;
                border-radius: 40px;
                box-shadow: 0 0 20px -5px white;
                height: $tileHeight;
                width: $tileWidth;
                margin: $tileSpacing auto;            
                padding-top: 50px;
                text-align: center;
                box-sizing: border-box;
                animation: tileTilt;
                animation-duration: var(--animSpeed);
                animation-delay: var(--animOffset);
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                span{
                    font-size: 2.6em;
                    user-select: none;
                    display: block;
                }

                img{
                    margin: 0;
                    user-select: none;
         
                    height: 180px;
                    object-fit: cover;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top:0;
                    left: 0;
                    
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
                    border-radius: 60px;
                    overflow: hidden;
                    height: $tileHeight;
                    width: $tileWidth;
                    z-index: -1;
                    animation: tileTiltAfter;
                    animation-duration: var(--animSpeed);
                    animation-delay: var(--animOffset);
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }

                &::before{
                    content: "";
                    position: absolute;
                    top:0;
                    left: 0;
                    
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
                    border-radius: 50px;
                    overflow: hidden;
                    height: $tileHeight;
                    width: $tileWidth;
                    z-index: -1;
                    animation: tileTiltBefore;
                    animation-duration: var(--animSpeed);
                    animation-delay: var(--animOffset);
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }

            transition: all ease-out 0.3s;
            transform: scale(1.0);

            &:hover{
                transition: all ease-out 0.2s;
                transform: scale(1.1);
                .tile{
                    background-color: rgba(246, 223, 255, 0.7);
                    box-shadow: 0 0 30px 0 rgb(242, 223, 255);
                }
            }
        }

        .flyOut{
            animation: tileFlyOut;
            animation-duration: 0.7s;
            animation-delay: var(--animOffset);
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
                
        }
    }

}


@keyframes tileSpin {
    from{
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(10px) rotate(-360deg) ;
    }
}

@keyframes tileTilt {
    0%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(2deg) ;
    }
    100%{
        transform: rotate(-2deg);
    }
}

@keyframes tileTiltBefore {
    0%{
        transform: rotate(-3deg) scale(0.95) translateX(5px);
    }
    50%{
        transform: rotate(3deg) scale(0.95) translateX(-5px);
    }
    100%{
        transform: rotate(-3deg) scale(0.95) translateX(5px);
    }
}

@keyframes tileTiltAfter {
    0%{
        transform: rotate(4deg) scale(0.9) translateY(5px);
    }
    50%{
        transform: rotate(-4deg) scale(0.9) translateY(-5px);
    }
    100%{
        transform: rotate(4deg) scale(0.9) translateY(5px);
    }
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes tileFlyOut {
    0%{ transform: scale(1);}
    25%{transform: scale(1.1);}
    100%{transform: scale(0);}
}


.contentWrapper{
    position: relative;
    margin: auto;
    color: white;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;
    animation: fadeIn;
    animation-duration: 1s;
    
    .contentContainer{
        position: relative;
        background-color: rgba(225,255,225,0.4);
        background: radial-gradient(circle, rgba(225,255,225,0.1) 0%, rgba(177,224,177,0.3) 100%);
        border: 1px solid white;
        border-radius: 40px;
        box-shadow: 0 0 20px -5px white;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;

        &::after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
            border-radius: 40px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: contentTiltAfter;
            animation-duration: 14.5s;
            animation-delay: -10.3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-timing-function: linear;
        }

        &::before{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
            border-radius: 30px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: contentTiltBefore;
            animation-duration: 10.2s;
            animation-delay: -0.3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-timing-function: linear;
        }
    }
      
}


@keyframes contentTiltBefore {
    from{
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(10px) rotate(-360deg) ;
    }
}

@keyframes contentTiltAfter {
    from{
        transform: rotate(0deg) translateX(-5px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(-5px) rotate(-360deg) ;
    }
}

.characterBoxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;


    .characterBox{
        position: relative;
        width: 150px;
        height: 200px;
        border-radius: 30px;
        border: 1px solid white;
        margin: 15px 10px;
        text-align: center;
        user-select: none;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        padding-top: 10px;
        overflow: hidden;
        cursor: pointer;
        &:first-of-type{
            font-size: 10em;
            line-height: 190px;
        }

        &::before, &::after{
            content: "";
            position: absolute;
            top:0;
            left:0;
            width: 150px;
            height: 200px;
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            opacity: 0;
            transition: all 0.3s ease-in-out;

        }

        &:hover{
            background-color: rgba(246, 223, 255, 0.5);
            box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
            transform: scale(1.1) rotate(-5deg);
            transition: all 0.2s ease-in-out;
            &::before{
                opacity: 1;
                transform: scale(0.8) rotate(-1deg);
                transition: all 0.5s ease-in-out;
            }

            &::after{
                opacity: 1;
                transform: scale(0.6) rotate(-2deg);
                transition: all 0.5s ease-in-out;
            }
        }

        .imgContainer{
            width: 130px;
            height: 130px;
            border-radius: 25px;
            margin:auto;
            border: 1px solid rgba(255, 255, 255, 0.5);
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        span{
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .name{
            margin-top: 10px;
        }

        .species{
            font-size: 0.8em;
            margin-top: 3px;
            color: gray;
        }
    }
}

.flyOut{
    animation: flyOut;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
}

@keyframes flyOut {
    0%{ transform: scale(1);}
    100%{transform: scale(0);}
}

@keyframes fadeOut {
    0%{ opacity: 1;}
    100%{opacity: 0;}
}


.characterInfo{
    h1{
        font-weight: lighter;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0;
    }

    h2{
        font-weight: lighter;
        text-align: center;
        font-size: 1.5em;
    }

    h2.species{
        margin-top: 4px;
        color: gray;
    }

    .mainImgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        $sidebarWidth: 80px;
        .mainImg{
            border-radius: 30px;
            margin-left: $sidebarWidth;
            border: 1px solid white;
            overflow: hidden;
            max-height: 450px;
            max-width: 350px;

            &:only-child{
                margin-left: 0;
            }

            img{
                max-height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .operationsContainer{
            display: flex;
            flex-direction: column;
            width: $sidebarWidth;
        }
    }

    #imgDescription{
        text-align: center;
        display: block;
        margin: 10px 0;
        font-size: 1.1em;
    }
 
    .imgCarousel{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;

        .carouselItem{
            border-radius: 10px;
            margin: 5px;
            border: 1px solid white;
            overflow: hidden;
            height: 100px;
            width: 80px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            transition: all 0.2s ease;
            user-select: none;
            cursor: pointer;

            img{
                max-height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:hover{
                background-color: rgba(246, 223, 255, 0.5);
                box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
                transform: scale(1.1) rotate(-5deg);
            }
        }

        .addImage{
            font-size: 7em;
        }
       
    }

    .familyTreeView{
        width: 100%;
   
        position: relative;
        canvas{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .layerContainer{
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100%;

            .treeLayer{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                //border: 1px solid white;

                .treeNode{
                    position: relative;
                    width: 100px;
                    height: 120px;
                    border: 1px solid white;
                    border-radius: 20px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    margin: 30px 20px;
                    transition: all 0.2s ease;
                    user-select: none;
                    cursor: pointer;
                    .nodeImg{
                        width: 100%;
                        height: 90px;
                        margin:0 auto;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        overflow: hidden;
                        border-radius: 20px;
                        box-sizing: border-box;

                        img{
                            max-height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    span{
                        text-align: center;
                        padding-top: 5px;
                    }

                    $svgWidth: 800px;
                    $svgHeight: 200px;
                    svg.branch{
                        position: absolute;
                        width: $svgWidth;
                        height: $svgHeight;
                        left: calc((($svgWidth/2) * -1) + 50px);
                        top: calc((($svgHeight/2) * -1) + 60px);
                        z-index: -1;  
                        transition: all 0.2s ease;                  
                    }

                    &:hover{
                        background-color: rgba(246, 223, 255, 0.5);
                        box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);

                        svg.branch{
                            z-index: -100;
                        }
                    }
                }
            }
        }
    }


    .noteContainer{
        max-width: 800px;
        margin: auto;
        
        .newPostContainer{
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            textarea{
                resize: none;
                width: 100%;
                border-radius: 20px;
            }

            input[type="submit"] {
                height: 100px;
                width: 80px;
                border-radius: 20px;
            }
        }

        .note{
            border: 1px solid white;
            border-radius: 20px;
            margin: 5px;
            position: relative;
            
            span{
                position: absolute;
                top: 6px;
                left: 20px;
                color: gray;
                font-size: 0.9em;
            }

            p{
                margin: 0;
                padding: 25px 12px 8px;
            }
        }
    }
}

.personalSection,
.relationsSection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    input[type="text"],
    input[type="date"],
    select{
        width: 240px;
        box-sizing: border-box;
    }

    span{
        width: 100px;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    table{
        tr{
            td{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    }
}
.addCharacterSubmitBtn{
    margin: 20px auto !important;
    display: block;
}

details.parentalRelations{
    summary{
        text-align: center;
        text-decoration: none;
        list-style: none;
        transition: all 0.2s ease;
        cursor: pointer;
        font-size: 1.1em;
        margin: 10px 0;
        user-select: none;
        outline: none;
        &::after{
            content: "(click to expand)";
            transition: all 0.5s ease;
            overflow: hidden;
            white-space: nowrap;
            opacity: 1;
            color: gray;
            margin-left: 10px;
        }

        &:hover{
            text-shadow: 0 0 10px rgb(242, 223, 255);
        }
    }   

    &[open]{
        summary{
            
            &::after{
                content: "(click to expand)";
                opacity: 0;
                margin-left: -124px;
                
            }
        }
    }
}



.ageList{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    .tab{
        height: 70px;
        width: 300px;
        border-radius: 20px;
        border: 1px solid white;
        overflow: hidden;
        margin: 10px 0;
        box-sizing: border-box;
        display: flex;
        padding-left: 5px;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        transition: all 0.2s ease; 

        .imgContainer{
            border-radius: 15px;
            border: 1px solid white;
            width: 50px;
            height: 60px;
            overflow: hidden;
            flex: 0 0 50px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .textContainer{
            padding-left: 10px;
            span{
                display: block;
            }

            .main{
                font-size: 1.2em;
            }

            .sub{
                color:lightgray;
                font-size: 0.9em;
            }
        }

        .ageBox{
            
            padding-right: 10px;
            padding-top: 10px;
            font-size: 3em;
        }

        &:hover{
            background-color: rgba(246, 223, 255, 0.5);
            box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
        }
    }
}

.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .modalBlur{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(18, 0, 27, 0.6);
        
    }
    .modal{
        position: fixed;
        background-color: rgba(225,255,225,0.4);
        background: radial-gradient(circle, rgba(225,255,225,0.1) 0%, rgba(177,224,177,0.3) 100%);
        border: 1px solid white;
        border-radius: 40px;
        box-shadow: 0 0 20px -5px white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        min-height: 300px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;

        .modalContent{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            padding: 20px;
            height: 100%;
            width: 100%;
            text-align: center;
            
            span{
                color: white;
            }

            button{
                width: 100%;
            }

            textarea{
                width: 250px;
                height: 100px;
                overflow: hidden;
                border-radius: 20px;
                resize: none;
            }
        }
    }
}

.modClose{
    animation: modalFadeOut;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;    
}

.modOpen{
    animation: modalFadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;    
}

.modContentFadeOut{
    animation: modalContentFadeOut;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;    
}

.modContentFadeIn{
    animation: modalContentFadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;    
}

@keyframes modalFadeOut {
    0%{
        opacity: 1;
        backdrop-filter: blur(5px);
    }
    100%{
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

@keyframes modalFadeIn {
    0%{
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100%{
        opacity: 1;
        backdrop-filter: blur(5px);
    }
}


@keyframes modalContentFadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes modalContentFadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.imgBlur{
    filter: blur(20px);
}

.permaImgBlur{
    filter: blur(20px);
}

.imgGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .galleryItem{
        border-radius: 20px;
        border: 1px solid white;
        width: 200px;
        overflow: hidden;
        height: 300px;
        margin: 10px;
        transition: all 0.2s ease;
        cursor: pointer;    

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover{
            background-color: rgba(246, 223, 255, 0.5);
            box-shadow: 0 0 30px 0 rgba(242, 223, 255, 0.486);
            transform: scale(1.1) rotate(-5deg);
        }
    }
}